/* Struttura CSS */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    height: 70px;
    vertical-align: middle;
    padding: 10px;
}

header img{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
}