/* Struttura CSS */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f6f8f9;
}

/* Header */
header{
    height: 70px;
    vertical-align: middle;
    padding: 10px;
    background-color: white;
}

header img{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
}

/* Contenuto */

main{
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    margin-top: 25px;
}

section{
    padding: 0.5em 3em;

}

section:first-child {
    border-bottom: 2px solid #EEE;
}

.bottone{
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid;
}

.bottone1{
    background-color: #47adf1;
    border-color: #47adf1;
    color: white;
}

.bottone2{
    background-color: white;
    border-color: #777;
    color: #777;
}

/* Lista Task */
h2{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.freccia{
    font-size: 25px;
    vertical-align: middle;
}

#Tasklist ul {
    list-style: none;
    margin-bottom: 25px;
}

#Tasklist li{
    font-size: 20px;
}

.cerchio{
border: 1px solid;
border-radius: 50%;
display: inline-block;
text-align: center;
vertical-align: middle;
width: 22px;
height: 22px;
border-color: #69c3ae;
color: #69c3ae;
font-size: 15px;
}

.tag{
    border-radius: 12px;
    padding: 8px 15px;
    font-size: 12px;
}

.blue{
    background-color: #47adf1;
    color: white;
}