/* Struttura CSS */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f6f8f9;
}

/* Header */
header{
    height: 70px;
    vertical-align: middle;
    padding: 10px;
    background-color: white;
}

header img{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
}

/* Contenuto */

main{
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    margin-top: 25px;
    height: 50px;
}

section{
    padding: 0.5em 3em;
    border-bottom: #777;
}

.bottone{
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.bottone1{
    background-color: #47adf1;
    border-color: #47adf1;
    color: white;
}

.bottone2{
    background-color: white;
    border-color: #777;
    color: #777;
}

section{
    padding: 0.5em 3em;
}